<section>
    <h1>Affichage des heures pour l'employé {{employee.secondname}} {{employee.firstname}}</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="year">Année : </label>
        <input class="form-control custom-form-input" type="number" id="year" formControlName="year" min="2000" max="2050">
        <label for="month">Mois : </label>
        <select class="form-select custom-form-input" formControlName="month">
            <option value="" disabled selected>Sélectionner un mois</option>
            @for (month of months; track $index) {
                <option [ngValue]="month">{{month}}</option>
            }
        </select>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>

</section>