<section>

    <h1>{{title}}</h1>

    <div class="user-list-container">

      <button class="btn btn-primary custom-btn" (click)="goToAddUser()">Ajouter un utilisateur</button>
  
      <table class="table table-striped table-primary custom-table">
          <thead>
            <tr>
              <th class="custom-table-col-title" scope="col">Nom</th>
              <th class="custom-table-col-title" scope="col">Prenom</th>
              <th class="custom-table-col-title" scope="col">Role</th>
              <th class="custom-table-col-title" scope="col">Activé</th>
              <th class="custom-table-col-title" scope="col">Mot de passe modifié</th>
              <th class="custom-table-col-title" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
              @for (user of listUser; track $index) {
                  <tr>
                      <td class="custom-table-col-content">{{user.secondname}}</td>
                      <td class="custom-table-col-content">{{user.firstname}}</td>
                      <td class="custom-table-col-content">{{user.roleName}}</td>
                      <td class="custom-table-col-content">{{user.enable ? "Oui" : "Non"}}</td>
                      <td class="custom-table-col-content">{{user.passwordUpdated ? "Oui" : "Non"}}</td>
                      <td class="custom-table-col-content">
                          <button class="btn btn-sm btn-success custom-table-btn">Consulter</button>
                          <button class="btn btn-sm btn-warning custom-table-btn">Modifier</button>
                          <button class="btn btn-sm btn-danger custom-table-btn">Supprimer</button>
                      </td>
                  </tr>
              }
          </tbody>
        </table>
        
    </div>

</section>

