<section>

    <div class="form-container">

        <form class="pwd-form" [formGroup]="pwdFormGroup" (ngSubmit)="onSubmit()">
        
            <h2>{{title}}</h2>

            <input class="form-control" type="number" name="tokenId" id="tokenId" formControlName="tokenId" [hidden]="true">

            <div class="custom-input">
                <label for="password">Entrez votre nouveau mot de passe : </label>
                <input class="form-control" type="password" name="password" id="password" formControlName="password">
            </div>
            
            <div class="custom-input">
                <label for="confirmedPassword">Confirmez votre nouveau mot de passe : </label>
                <input class="form-control" type="password" name="confirmedPassword" id="confirmedPassword" formControlName="confirmedPassword">
            </div>

            <div class="button-container">
                <button class="btn btn-primary custom-btn" type="submit" [disabled]="!pwdFormGroup.valid">Valider</button>
                <button class="btn btn-danger custom-btn" type="button" (click)="cancel()">Annuler</button>
            </div>

        </form>

    </div>
</section>