<section class="custom-topbar">
  <nav class="navbar">
      @if (!user) { 
        <a routerLink="auth" routerLinkActive="active">
          <h1 class="navbar-title">{{topbarTitle}}</h1>
        </a>
        <form class="navbar-form" (ngSubmit)="onSubmit()">
          <div class="me-2">
            <input class="form-control form-control-sm" type="email" name="email" id="email" placeholder="Email" [(ngModel)]="signinRequest.email" required>
          </div>
          <div class="me-2">
            <input class="form-control form-control-sm" type="password" name="pwd" name="pwd" placeholder="Mot de passe" [(ngModel)]="signinRequest.password" required>
          </div>
          <div>
            <button class="btn btn-sm btn-outline-light" type="submit">Connexion</button>
          </div>
        </form>
      }
      @else {
        @if(user.enable) {
          <a routerLink="home" routerLinkActive="active">
            <h1 class="navbar-title">{{topbarTitle}}</h1>
          </a>
          <div class="navbar-content">
            @for (m of menu; track $index) {
              <a class="nav-link custom-nav-link" routerLink="{{m.urlPath}}" routerLinkActive="active">{{m.name}}</a>
            }
            <button class="btn btn-sm btn-outline-light" (click)="signOut()">Deconnexion</button>
          </div>
        } @else {
          <a routerLink="auth" routerLinkActive="active">
            <h1 class="navbar-title">{{topbarTitle}}</h1>
          </a>
        }
      }
  </nav>

  @if (user == null) {
    <div class="forget-pwd-container">
      <a class="forget-pwd" routerLink="forget-pwd" routerLinkActive="active">Mot de passe oublié ?</a>
    </div>
  }

</section>