<section>
    <h1>{{title}}</h1>

    <div class="form-container">
        <form class="user-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div>
                <h2>Informations utilisateur</h2>
            </div>
            
            <label for="secondname">Nom : </label>
            <input class="form-control user-form-input" type="text" id="secondname" formControlName="secondname">
            <label for="firstname">Prénom : </label>
            <input class="form-control user-form-input" type="text" id="firstname" formControlName="firstname">
            <label for="email">Email : </label>
            <input class="form-control user-form-input" type="email" id="email" formControlName="email">
            <input class="form-control user-form-input" type="password" id="pwd" formControlName="pwd" [hidden]="true">
            <label for="roleName">Rôle : </label>
            <select class="form-select user-form-input" formControlName="roleName" id="roleName">
                <option value="" disabled selected>Sélectionner un rôle</option>
                @for (role of listRole; track $index) {
                    <option [ngValue]="role.name">{{role.name}}</option>
                }
            </select>
            <div class="btn-container">
                <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Ajouter</button>
            </div>
        </form>
    </div>
</section>
