<section>
    <h1>Ajouter un employe</h1>

    <form class="employee-form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="employee-form-content">

            <input class="form-control employee-form-input" type="number" id="id" formControlName="id" [hidden]="true">
    
            <div class="employee-main-information">
    
                <div>
                    <h2>Informations principales</h2>
                </div>
    
                <label for="secondname">Nom : </label>
                <input class="form-control employee-form-input" type="text" id="secondname" formControlName="secondname">
                
                <label for="firstname">Prenom : </label>
                <input class="form-control employee-form-input" type="text" id="firstname" formControlName="firstname">
                
                <label for="placeOfBirth">Lieu de naissance : </label>
                <input class="form-control employee-form-input" type="text" id="placeOfBirth" formControlName="placeOfBirth">
                
                <label for="dateOfBirth">Date de naissance : </label>
                <input class="form-control employee-form-input" type="date" id="dateOfBirth" formControlName="dateOfBirth">
    
            </div>
    
            <div class="employee-contact-information">
    
                <div>
                    <h2>Informations de contact</h2>
                </div>
                
                <label for="address">Adresse : </label>
                <input class="form-control employee-form-input" type="text" id="address" formControlName="address">
                
                <label for="postalCode">Code postal : </label>
                <input class="form-control employee-form-input" type="number" id="postalCode" formControlName="postalCode">
                
                <label for="city">Ville : </label>
                <input class="form-control employee-form-input" type="text" id="city" formControlName="city">
                
                <label for="email">Email : </label>
                <input class="form-control employee-form-input" type="email" id="email" formControlName="email">

                <label for="homenumber">Telephone fixe : </label>
                <input class="form-control employee-form-input" type="number" id="homenumber" formControlName="homenumber">
                
                <label for="phonenumber">Telephone portable : </label>
                <input class="form-control employee-form-input" type="number" id="phonenumber" formControlName="phonenumber">
            </div>
    
            <div class="employee-profesionnal-information">
    
                <div>
                    <h2>Informations professionnelles</h2>
                </div>
    
                <label for="post">Intitulé du poste : </label>
                <input class="form-control employee-form-input" type="text" id="post" formControlName="post">
                
                <label for="salary">Salaire : </label>
                <input class="form-control employee-form-input" type="number" id="salary" formControlName="salary">
                
                <label for="hoursPerWeekId">Nombre d'heure mensuel : </label>
                <select class="form-select employee-form-input" formControlName="hoursPerWeekId" id="hoursPerWeekId">
                    <option value=0 disabled selected>Sélectionner un nombre d'heure</option>
                    @for (hoursPerWeek of hoursPerWeeks; track $index) {
                        <option [ngValue]="hoursPerWeek.id">{{hoursPerWeek.hours}}</option>
                    }
                </select>
    
                <label for="departmentId">Département : </label>
                <select class="form-select employee-form-input" formControlName="departmentId" id="departmentId">
                    <option value=0 disabled selected>Sélectionner un departement</option>
                    @for (departement of departments; track $index) {
                        <option [ngValue]="departement.id">{{departement.name}}</option>
                    }
                </select>

                <label for="contractId">Type de contrat : </label>
                <select class="form-select employee-form-input" formControlName="contractId" id="contractId">
                    <option value=0 disabled selected>Sélectionner un type de contrat</option>
                    @for (contractType of contractTypes; track $index) {
                        <option [ngValue]="contractType.id">{{contractType.name}}</option>
                    }
                </select>

                @if (form.value.contractId == 1 || form.value.contractId == 2) {
                    <label for="dateOfHiring">Date d'embauche : </label>
                    <input class="form-control employee-form-input" type="date" id="dateOfHiring" formControlName="dateOfHiring">
                }
                
                @if (form.value.contractId == 2) {
                    <label for="dateEndOfContract">Date de fin de contrat : </label>
                    <input class="form-control employee-form-input" type="date" id="dateEndOfContract" formControlName="dateEndOfContract">
                }

    
            </div>

        </div>
        
        <div>
            <button class="btn btn-primary employee-form-btn" type="submit" [disabled]="!form.valid">Ajouter</button>
            <button class="btn btn-danger employee-form-btn" type="button" (click)="resetForm()">Annuler</button>
        </div>

    </form>

</section>
