<section>
    <h1>Ajouter un employe</h1>

    <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="form-control custom-form-input" type="number" id="id" formControlName="id" [hidden]="true" placeholder="Enter an id">
        <input class="form-control custom-form-input" type="text" id="secondname" formControlName="secondname" placeholder="Enter a secondname">
        <input class="form-control custom-form-input" type="text" id="firstname" formControlName="firstname" placeholder="Enter a firstname">
        <input class="form-control custom-form-input" type="text" id="placeOfBirth" formControlName="placeOfBirth" placeholder="Enter a birth place">
        <input class="form-control custom-form-input" type="date" id="dateOfBirth" formControlName="dateOfBirth" placeholder="Enter a birth date">

        <input class="form-control custom-form-input" type="email" id="email" formControlName="email" placeholder="Enter an email">
        <input class="form-control custom-form-input" type="text" id="address" formControlName="address" placeholder="Enter an address">
        <input class="form-control custom-form-input" type="number" id="postalCode" formControlName="postalCode" placeholder="Enter a postal code">
        <input class="form-control custom-form-input" type="text" id="city" formControlName="city" placeholder="Enter a city">
        <input class="form-control custom-form-input" type="number" id="homenumber" formControlName="homenumber" placeholder="Enter a home number">
        <input class="form-control custom-form-input" type="number" id="phonenumber" formControlName="phonenumber" placeholder="Enter a phone number">

        <input class="form-control custom-form-input" type="text" id="post" formControlName="post" placeholder="Enter a post">
        <input class="form-control custom-form-input" type="date" id="dateOfHiring" formControlName="dateOfHiring" placeholder="Enter the date of hiring">
        <input class="form-control custom-form-input" type="date" id="dateEndOfContract" formControlName="dateEndOfContract" placeholder="Enter the date of end contract">
        <input class="form-control custom-form-input" type="number" id="salary" formControlName="salary" placeholder="Enter the employee salary">
        <select class="form-select custom-form-input" formControlName="hoursPerWeekId">
            <option value="" disabled selected>Sélectionner un nombre d'heure</option>
            @for (hoursPerWeek of hoursPerWeeks; track $index) {
                <option [ngValue]="hoursPerWeek.id">{{hoursPerWeek.hours}}</option>
            }
        </select>
        <select class="form-select custom-form-input" formControlName="contractId">
            <option value="" disabled selected>Sélectionner un type de contrat</option>
            @for (contractType of contractTypes; track $index) {
                <option [ngValue]="contractType.id">{{contractType.name}}</option>
            }
        </select>
        <select class="form-select custom-form-input" formControlName="departmentId">
            <option value="" disabled selected>Sélectionner un departement</option>
            @for (departement of departments; track $index) {
                <option [ngValue]="departement.id">{{departement.name}}</option>
            }
        </select>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</section>
