h2 {
    font-size: larger;
    font-weight: bold;
}

.recording-form {
    width: 100%;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-recording-container {
    width: 50%;
    margin-bottom: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 30px;

    background-color: rgb(207,226,255);

}

.second-recording-container {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 30px;

    background-color: rgb(207,226,255);

}

.date-input {
    width: 45%;
}

.date-container {
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.date-subcontainer {
    width: 45%;

    display: flex;
    flex-direction: column;
}

.custom-form-input {
    margin-right: .5em;
    margin-bottom: .5em;
}

.custom-input-text {
    border: 1px solid black;
    background-color: azure;
}

.custom-form-radio {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
}

.input-container {
    margin-top: .5em;
    margin-bottom: .5em;
}

.button-container {
    width: 100%;    
    
    display: flex;
    justify-content: center;
}

.custom-btn {
    width: auto;
    margin: .5em .5em .5em .0em;
}
