<section>

    <form class="recording-form" [formGroup]="recordingForm" (ngSubmit)="onSubmit()">
        
        <div class="first-recording-container">

            <h2>Ajouter un enregistrement pour : </h2>
    
            <div class="input-container">
                <label for="employeeId">Employé : </label>
                <select class="form-select custom-form-input custom-input-text" formControlName="employeeId" (change)="resetDateForm()">
                    <option value=0 disabled selected>Sélectionner un employe</option>
                    @for (employee of employees; track $index) {
                        <option [ngValue]="employee.id">{{employee.secondname + " " + employee.firstname}}</option>
                    }
                </select>
            </div>
    
            <div class="input-container">
                <label for="dayTypeId">Type de journée : </label>
                <select class="form-select custom-form-input custom-input-text" formControlName="dayTypeId">
                    <option value=0 disabled selected>Sélectionner un type de journée</option>
                    @for (dayType of dayTypes; track $index) {
                        <option [ngValue]="dayType.id">{{dayType.name}}</option>
                    }
                </select>
            </div>

        </div>

        @if(recordingForm.value.dayTypeId != 0 && recordingForm.value.employeeId != 0) {

            <div class="second-recording-container">

                <h2>Insérez vos dates : </h2>
                
                <input class="form-control" type="number" id="id" formControlName="id" [hidden]="true">
    
                <div class="input-container date-input">
                    <label for="date" [hidden]="isTravailDayType(recordingForm.value.dayTypeId)">Date : </label>    
                    <input class="form-control custom-form-input custom-input-text" type="date" id="date" formControlName="date" [hidden]="isTravailDayType(recordingForm.value.dayTypeId)">
                </div>

                <div class="date-container">
                    <div [hidden]="isTravailDayType(recordingForm.value.dayTypeId)" class="date-subcontainer">
                        <div class="input-container">
                            <label for="hourStart">Heure de début : </label>    
                            <input class="form-control custom-form-input custom-input-text" type="time" id="hourStart" formControlName="hourStart" [hidden]="isTravailDayType(recordingForm.value.dayTypeId)">
                        </div>
                        <div class="input-container">
                            <label for="hourStop">Heure d'arrêt : </label>    
                            <input class="form-control custom-form-input custom-input-text" type="time" id="hourStop" formControlName="hourStop" [hidden]="isTravailDayType(recordingForm.value.dayTypeId)">
                        </div>
                    </div>

                    <div [hidden]="isTravailDayType(recordingForm.value.dayTypeId)" class="date-subcontainer">
                        <div class="input-container">
                            <label for="breakStart">Heure de début de pause : </label>    
                            <input class="form-control custom-form-input custom-input-text" type="time" id="breakStart" formControlName="breakStart" [hidden]="isTravailDayType(recordingForm.value.dayTypeId)">
                        </div>
                        <div class="input-container">
                            <label for="breakStop">Heure de fin de pause : </label>    
                            <input class="form-control custom-form-input custom-input-text" type="time" id="breakStop" formControlName="breakStop" [hidden]="isTravailDayType(recordingForm.value.dayTypeId)">
                        </div>
                    </div>

                    <div [hidden]="!isTravailDayType(recordingForm.value.dayTypeId)" class="date-subcontainer">
                        <label for="dateStart">Date de début : </label>
                        <input class="form-control custom-form-input custom-input-text" type="date" id="dateStart" formControlName="dateStart" [hidden]="!isTravailDayType(recordingForm.value.dayTypeId)">
                        
                        <label for="dateStop">Date de fin : </label>    
                        <input class="form-control custom-form-input custom-input-text" type="date" id="dateStop" formControlName="dateStop" [hidden]="!isTravailDayType(recordingForm.value.dayTypeId)">   
                    </div>
                </div>
                
            </div>
            
            <div class="button-container">
                <button class="btn btn-primary custom-btn" type="submit" [disabled]="!recordingForm.valid">Envoyer</button>
                <button class="btn btn-danger custom-btn" type="button" (click)="resetDateForm()">Annuler</button>
            </div>
        }

    </form>

</section>